.todo__container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 2px;
}

.todo__content {
  display: block;
  width: 100%;
  overflow: hidden;
  text-overflow: ellipsis;
}